HOSTINGER_REMOTE_DIR=/home/u596159491/domains/mediumslateblue-stork-840698.hostingersite.com
HOSTINGER_RUN_NPM_INSTALL=1
HOSTINGER_INSTALL_PLAYWRIGHT=1
HOSTINGER_NPM_BIN=npm
HOSTINGER_NPX_BIN=npx
HOSTINGER_PLAYWRIGHT_BROWSERS_PATH=/home/u596159491/domains/mediumslateblue-stork-840698.hostingersite.com/.playwright-browsers
