[Unit]
Description=Skyscanner Telegram Bot
After=network.target

[Service]
Type=simple
User=teles
WorkingDirectory=/home/teles/dev/python/skyscanner-bot
ExecStart=/home/teles/dev/python/skyscanner-bot/.venv/bin/python /home/teles/dev/python/skyscanner-bot/run_all.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
